.btn-custom-primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--white);
}

.btn-custom-primary:focus {
  border-color: var(--primary);
}

.btn-custom-primary.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary);
}

.btn-custom-primary.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary);
  border-color: transparent;
}

.btn-custom-primary.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary);
}

.btn-custom-primary-blue {
  background-color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  color: var(--white);
}

.btn-custom-primary-blue:focus {
  border-color: var(--primary-blue);
}

.btn-custom-primary-blue.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-blue);
}

.btn-custom-primary-blue.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-blue);
  border-color: transparent;
}

.btn-custom-primary-blue.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-blue);
}

.btn-custom-primary-dark-blue {
  background-color: var(--primary-dark-blue);
  border: 2px solid var(--primary-dark-blue);
  color: var(--white);
}

.btn-custom-primary-dark-blue:focus {
  border-color: var(--primary-dark-blue);
}

.btn-custom-primary-dark-blue.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-blue);
}

.btn-custom-primary-dark-blue.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-blue);
  border-color: transparent;
}

.btn-custom-primary-dark-blue.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-blue);
}

.btn-custom-primary-green {
  background-color: var(--primary-green);
  border: 2px solid var(--primary-green);
  color: var(--white);
}

.btn-custom-primary-green:focus {
  border-color: var(--primary-green);
}

.btn-custom-primary-green.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-green);
}

.btn-custom-primary-green.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-green);
  border-color: transparent;
}

.btn-custom-primary-green.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-green);
}

.btn-custom-primary-dark-green {
  background-color: var(--primary-dark-green);
  border: 2px solid var(--primary-dark-green);
  color: var(--white);
}

.btn-custom-primary-dark-green:focus {
  border-color: var(--primary-dark-green);
}

.btn-custom-primary-dark-green.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-green);
}

.btn-custom-primary-dark-green.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-green);
  border-color: transparent;
}

.btn-custom-primary-dark-green.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-green);
}

.btn-custom-primary-orange {
  background-color: var(--primary-orange);
  border: 2px solid var(--primary-orange);
  color: var(--white);
}

.btn-custom-primary-orange:focus {
  border-color: var(--primary-orange);
}

.btn-custom-primary-orange.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-orange);
}

.btn-custom-primary-orange.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-orange);
  border-color: transparent;
}

.btn-custom-primary-orange.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-orange);
}

.btn-custom-primary-dark-orange {
  background-color: var(--primary-dark-orange);
  border: 2px solid var(--primary-dark-orange);
  color: var(--white);
}

.btn-custom-primary-dark-orange:focus {
  border-color: var(--primary-dark-orange);
}

.btn-custom-primary-dark-orange.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-orange);
}

.btn-custom-primary-dark-orange.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-orange);
  border-color: transparent;
}

.btn-custom-primary-dark-orange.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-orange);
}

.btn-custom-primary-red {
  background-color: var(--primary-red);
  border: 2px solid var(--primary-red);
  color: var(--white);
}

.btn-custom-primary-red:focus {
  border-color: var(--primary-red);
}

.btn-custom-primary-red.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-red);
}

.btn-custom-primary-red.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-red);
  border-color: transparent;
}

.btn-custom-primary-red.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-red);
}

.btn-custom-primary-dark-red {
  background-color: var(--primary-dark-red);
  border: 2px solid var(--primary-dark-red);
  color: var(--white);
}

.btn-custom-primary-dark-red:focus {
  border-color: var(--primary-dark-red);
}

.btn-custom-primary-dark-red.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-red);
}

.btn-custom-primary-dark-red.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-red);
  border-color: transparent;
}

.btn-custom-primary-dark-red.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-red);
}

.btn-custom-primary-yellow {
  background-color: var(--primary-yellow);
  border: 2px solid var(--primary-yellow);
  color: var(--black);
}

.btn-custom-primary-yellow:focus {
  border-color: var(--primary-yellow);
}

.btn-custom-primary-yellow.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-yellow);
}

.btn-custom-primary-yellow.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-yellow);
  border-color: transparent;
}

.btn-custom-primary-yellow.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-yellow);
}

.btn-custom-primary-dark-yellow {
  background-color: var(--primary-dark-yellow);
  border: 2px solid var(--primary-dark-yellow);
  color: var(--white);
}

.btn-custom-primary-dark-yellow:focus {
  border-color: var(--primary-dark-yellow);
}

.btn-custom-primary-dark-yellow.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-yellow);
}

.btn-custom-primary-dark-yellow.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-yellow);
  border-color: transparent;
}

.btn-custom-primary-dark-yellow.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-yellow);
}

.btn-custom-primary-purple {
  background-color: var(--primary-purple);
  border: 2px solid var(--primary-purple);
  color: var(--white);
}

.btn-custom-primary-purple:focus {
  border-color: var(--primary-purple);
}

.btn-custom-primary-purple.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-purple);
}

.btn-custom-primary-purple.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-purple);
  border-color: transparent;
}

.btn-custom-primary-purple.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-purple);
}

.btn-custom-primary-dark-purple {
  background-color: var(--primary-dark-purple);
  border: 2px solid var(--primary-dark-purple);
  color: var(--white);
}

.btn-custom-primary-dark-purple:focus {
  border-color: var(--primary-dark-purple);
}

.btn-custom-primary-dark-purple.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-purple);
}

.btn-custom-primary-dark-purple.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-purple);
  border-color: transparent;
}

.btn-custom-primary-dark-purple.hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-purple);
}

.btn-custom-white {
  background-color: var(--white);
  border: 2px solid var(--white);
  color: var(--black);
}

.btn-custom-white:focus {
  border-color: var(--white);
}

.btn-custom-white.btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--white);
}

.btn-custom-white.hover-transparent.hover-no-border:hover {
  background-color: transparent;
  color: var(--white);
  border-color: transparent;
}

.btn-custom-white.hover-transparent:hover {
  background-color: transparent;
  color: var(--white);
}

.icon-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  color: var(--primary) !important;
  transition: all 0.3s ease !important;
}

.icon-btn.__shadow {
  box-shadow: 0 2px 5px var(--border-color) !important;
}

.icon-btn.__shadow-lg {
  box-shadow: 0 3px 8px var(--border-color) !important;
}

.icon-btn.border-circle {
  border-radius: 50%;
}

.icon-btn.icon-btn-lg {
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.icon-btn.icon-btn-md {
  width: 32px;
  height: 32px;
  font-size: 16px;
}

.icon-btn.icon-btn-primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary:focus {
  border-color: var(--primary);
}

.icon-btn.icon-btn-primary.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary) !important;
}

.icon-btn.icon-btn-primary.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary);
  border-color: transparent;
}

.icon-btn.icon-btn-primary.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary);
}

.icon-btn.icon-btn-primary-blue {
  background-color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-blue:focus {
  border-color: var(--primary-blue);
}

.icon-btn.icon-btn-primary-blue.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-blue) !important;
}

.icon-btn.icon-btn-primary-blue.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-blue.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-blue);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-blue.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-blue);
}

.icon-btn.icon-btn-primary-dark-blue {
  background-color: var(--primary-dark-blue);
  border: 2px solid var(--primary-dark-blue);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-dark-blue:focus {
  border-color: var(--primary-dark-blue);
}

.icon-btn.icon-btn-primary-dark-blue.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-blue) !important;
}

.icon-btn.icon-btn-primary-dark-blue.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-dark-blue.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-blue);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-dark-blue.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-blue);
}

.icon-btn.icon-btn-primary-green {
  background-color: var(--primary-green);
  border: 2px solid var(--primary-green);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-green:focus {
  border-color: var(--primary-green);
}

.icon-btn.icon-btn-primary-green.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-green) !important;
}

.icon-btn.icon-btn-primary-green.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-green.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-green);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-green.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-green);
}

.icon-btn.icon-btn-primary-dark-green {
  background-color: var(--primary-dark-green);
  border: 2px solid var(--primary-dark-green);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-dark-green:focus {
  border-color: var(--primary-dark-green);
}

.icon-btn.icon-btn-primary-dark-green.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-green) !important;
}

.icon-btn.icon-btn-primary-dark-green.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-dark-green.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-green);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-dark-green.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-green);
}

.icon-btn.icon-btn-primary-orange {
  background-color: var(--primary-orange);
  border: 2px solid var(--primary-orange);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-orange:focus {
  border-color: var(--primary-orange);
}

.icon-btn.icon-btn-primary-orange.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-orange) !important;
}

.icon-btn.icon-btn-primary-orange.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-orange.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-orange);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-orange.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-orange);
}

.icon-btn.icon-btn-primary-dark-orange {
  background-color: var(--primary-dark-orange);
  border: 2px solid var(--primary-dark-orange);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-dark-orange:focus {
  border-color: var(--primary-dark-orange);
}

.icon-btn.icon-btn-primary-dark-orange.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-orange) !important;
}

.icon-btn.icon-btn-primary-dark-orange.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-dark-orange.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-orange);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-dark-orange.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-orange);
}

.icon-btn.icon-btn-primary-red {
  background-color: var(--primary-red);
  border: 2px solid var(--primary-red);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-red:focus {
  border-color: var(--primary-red);
}

.icon-btn.icon-btn-primary-red.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-red) !important;
}

.icon-btn.icon-btn-primary-red.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-red.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-red);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-red.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-red);
}

.icon-btn.icon-btn-primary-dark-red {
  background-color: var(--primary-dark-red);
  border: 2px solid var(--primary-dark-red);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-dark-red:focus {
  border-color: var(--primary-dark-red);
}

.icon-btn.icon-btn-primary-dark-red.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-red) !important;
}

.icon-btn.icon-btn-primary-dark-red.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-dark-red.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-red);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-dark-red.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-red);
}

.icon-btn.icon-btn-primary-yellow {
  background-color: var(--primary-yellow);
  border: 2px solid var(--primary-yellow);
  color: var(--black) !important;
}

.icon-btn.icon-btn-primary-yellow:focus {
  border-color: var(--primary-yellow);
}

.icon-btn.icon-btn-primary-yellow.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-yellow) !important;
}

.icon-btn.icon-btn-primary-yellow.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-yellow.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-yellow);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-yellow.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-yellow);
}

.icon-btn.icon-btn-primary-dark-yellow {
  background-color: var(--primary-dark-yellow);
  border: 2px solid var(--primary-dark-yellow);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-dark-yellow:focus {
  border-color: var(--primary-dark-yellow);
}

.icon-btn.icon-btn-primary-dark-yellow.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-yellow) !important;
}

.icon-btn.icon-btn-primary-dark-yellow.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-dark-yellow.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-yellow);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-dark-yellow.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-yellow);
}

.icon-btn.icon-btn-primary-purple {
  background-color: var(--primary-purple);
  border: 2px solid var(--primary-purple);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-purple:focus {
  border-color: var(--primary-purple);
}

.icon-btn.icon-btn-primary-purple.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-purple) !important;
}

.icon-btn.icon-btn-primary-purple.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-purple.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-purple);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-purple.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-purple);
}

.icon-btn.icon-btn-primary-dark-purple {
  background-color: var(--primary-dark-purple);
  border: 2px solid var(--primary-dark-purple);
  color: var(--white) !important;
}

.icon-btn.icon-btn-primary-dark-purple:focus {
  border-color: var(--primary-dark-purple);
}

.icon-btn.icon-btn-primary-dark-purple.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--primary-dark-purple) !important;
}

.icon-btn.icon-btn-primary-dark-purple.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-primary-dark-purple.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--primary-dark-purple);
  border-color: transparent;
}

.icon-btn.icon-btn-primary-dark-purple.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--primary-dark-purple);
}

.icon-btn.icon-btn-white {
  background-color: var(--white);
  border: 2px solid var(--white);
  color: var(--black) !important;
}

.icon-btn.icon-btn-white:focus {
  border-color: var(--white);
}

.icon-btn.icon-btn-white.icon-btn-hover-outline:hover {
  background-color: var(--white);
  color: var(--white) !important;
}

.icon-btn.icon-btn-white.icon-btn-hover-outline.no-bg:hover {
  background-color: transparent !important;
}

.icon-btn.icon-btn-white.icon-btn-hover-transparent.icon-btn.hover-no-border:hover {
  background-color: transparent;
  color: var(--white);
  border-color: transparent;
}

.icon-btn.icon-btn-white.icon-btn-hover-transparent:hover {
  background-color: transparent;
  color: var(--white);
}

