.w-2px {
  width: 2px;
}

.w-2prcnt {
  width: "2%";
}

.h-2px {
  height: 2px;
}

.h-2prcnt {
  height: "2%";
}

.w-4px {
  width: 4px;
}

.w-4prcnt {
  width: "4%";
}

.h-4px {
  height: 4px;
}

.h-4prcnt {
  height: "4%";
}

.w-6px {
  width: 6px;
}

.w-6prcnt {
  width: "6%";
}

.h-6px {
  height: 6px;
}

.h-6prcnt {
  height: "6%";
}

.w-8px {
  width: 8px;
}

.w-8prcnt {
  width: "8%";
}

.h-8px {
  height: 8px;
}

.h-8prcnt {
  height: "8%";
}

.w-10px {
  width: 10px;
}

.w-10prcnt {
  width: "10%";
}

.h-10px {
  height: 10px;
}

.h-10prcnt {
  height: "10%";
}

.w-12px {
  width: 12px;
}

.w-12prcnt {
  width: "12%";
}

.h-12px {
  height: 12px;
}

.h-12prcnt {
  height: "12%";
}

.w-14px {
  width: 14px;
}

.w-14prcnt {
  width: "14%";
}

.h-14px {
  height: 14px;
}

.h-14prcnt {
  height: "14%";
}

.w-16px {
  width: 16px;
}

.w-16prcnt {
  width: "16%";
}

.h-16px {
  height: 16px;
}

.h-16prcnt {
  height: "16%";
}

.w-18px {
  width: 18px;
}

.w-18prcnt {
  width: "18%";
}

.h-18px {
  height: 18px;
}

.h-18prcnt {
  height: "18%";
}

.w-20px {
  width: 20px;
}

.w-20prcnt {
  width: "20%";
}

.h-20px {
  height: 20px;
}

.h-20prcnt {
  height: "20%";
}

.w-22px {
  width: 22px;
}

.w-22prcnt {
  width: "22%";
}

.h-22px {
  height: 22px;
}

.h-22prcnt {
  height: "22%";
}

.w-24px {
  width: 24px;
}

.w-24prcnt {
  width: "24%";
}

.h-24px {
  height: 24px;
}

.h-24prcnt {
  height: "24%";
}

.w-26px {
  width: 26px;
}

.w-26prcnt {
  width: "26%";
}

.h-26px {
  height: 26px;
}

.h-26prcnt {
  height: "26%";
}

.w-28px {
  width: 28px;
}

.w-28prcnt {
  width: "28%";
}

.h-28px {
  height: 28px;
}

.h-28prcnt {
  height: "28%";
}

.w-30px {
  width: 30px;
}

.w-30prcnt {
  width: "30%";
}

.h-30px {
  height: 30px;
}

.h-30prcnt {
  height: "30%";
}

.w-32px {
  width: 32px;
}

.w-32prcnt {
  width: "32%";
}

.h-32px {
  height: 32px;
}

.h-32prcnt {
  height: "32%";
}

.w-34px {
  width: 34px;
}

.w-34prcnt {
  width: "34%";
}

.h-34px {
  height: 34px;
}

.h-34prcnt {
  height: "34%";
}

.w-36px {
  width: 36px;
}

.w-36prcnt {
  width: "36%";
}

.h-36px {
  height: 36px;
}

.h-36prcnt {
  height: "36%";
}

.w-38px {
  width: 38px;
}

.w-38prcnt {
  width: "38%";
}

.h-38px {
  height: 38px;
}

.h-38prcnt {
  height: "38%";
}

.w-40px {
  width: 40px;
}

.w-40prcnt {
  width: "40%";
}

.h-40px {
  height: 40px;
}

.h-40prcnt {
  height: "40%";
}

.w-42px {
  width: 42px;
}

.w-42prcnt {
  width: "42%";
}

.h-42px {
  height: 42px;
}

.h-42prcnt {
  height: "42%";
}

.w-44px {
  width: 44px;
}

.w-44prcnt {
  width: "44%";
}

.h-44px {
  height: 44px;
}

.h-44prcnt {
  height: "44%";
}

.w-46px {
  width: 46px;
}

.w-46prcnt {
  width: "46%";
}

.h-46px {
  height: 46px;
}

.h-46prcnt {
  height: "46%";
}

.w-48px {
  width: 48px;
}

.w-48prcnt {
  width: "48%";
}

.h-48px {
  height: 48px;
}

.h-48prcnt {
  height: "48%";
}

.w-50px {
  width: 50px;
}

.w-50prcnt {
  width: "50%";
}

.h-50px {
  height: 50px;
}

.h-50prcnt {
  height: "50%";
}

.w-52px {
  width: 52px;
}

.w-52prcnt {
  width: "52%";
}

.h-52px {
  height: 52px;
}

.h-52prcnt {
  height: "52%";
}

.w-54px {
  width: 54px;
}

.w-54prcnt {
  width: "54%";
}

.h-54px {
  height: 54px;
}

.h-54prcnt {
  height: "54%";
}

.w-56px {
  width: 56px;
}

.w-56prcnt {
  width: "56%";
}

.h-56px {
  height: 56px;
}

.h-56prcnt {
  height: "56%";
}

.w-58px {
  width: 58px;
}

.w-58prcnt {
  width: "58%";
}

.h-58px {
  height: 58px;
}

.h-58prcnt {
  height: "58%";
}

.w-60px {
  width: 60px;
}

.w-60prcnt {
  width: "60%";
}

.h-60px {
  height: 60px;
}

.h-60prcnt {
  height: "60%";
}

.w-62px {
  width: 62px;
}

.w-62prcnt {
  width: "62%";
}

.h-62px {
  height: 62px;
}

.h-62prcnt {
  height: "62%";
}

.w-64px {
  width: 64px;
}

.w-64prcnt {
  width: "64%";
}

.h-64px {
  height: 64px;
}

.h-64prcnt {
  height: "64%";
}

.w-66px {
  width: 66px;
}

.w-66prcnt {
  width: "66%";
}

.h-66px {
  height: 66px;
}

.h-66prcnt {
  height: "66%";
}

.w-68px {
  width: 68px;
}

.w-68prcnt {
  width: "68%";
}

.h-68px {
  height: 68px;
}

.h-68prcnt {
  height: "68%";
}

.w-70px {
  width: 70px;
}

.w-70prcnt {
  width: "70%";
}

.h-70px {
  height: 70px;
}

.h-70prcnt {
  height: "70%";
}

.w-72px {
  width: 72px;
}

.w-72prcnt {
  width: "72%";
}

.h-72px {
  height: 72px;
}

.h-72prcnt {
  height: "72%";
}

.w-74px {
  width: 74px;
}

.w-74prcnt {
  width: "74%";
}

.h-74px {
  height: 74px;
}

.h-74prcnt {
  height: "74%";
}

.w-76px {
  width: 76px;
}

.w-76prcnt {
  width: "76%";
}

.h-76px {
  height: 76px;
}

.h-76prcnt {
  height: "76%";
}

.w-78px {
  width: 78px;
}

.w-78prcnt {
  width: "78%";
}

.h-78px {
  height: 78px;
}

.h-78prcnt {
  height: "78%";
}

.w-80px {
  width: 80px;
}

.w-80prcnt {
  width: "80%";
}

.h-80px {
  height: 80px;
}

.h-80prcnt {
  height: "80%";
}

.w-82px {
  width: 82px;
}

.w-82prcnt {
  width: "82%";
}

.h-82px {
  height: 82px;
}

.h-82prcnt {
  height: "82%";
}

.w-84px {
  width: 84px;
}

.w-84prcnt {
  width: "84%";
}

.h-84px {
  height: 84px;
}

.h-84prcnt {
  height: "84%";
}

.w-86px {
  width: 86px;
}

.w-86prcnt {
  width: "86%";
}

.h-86px {
  height: 86px;
}

.h-86prcnt {
  height: "86%";
}

.w-88px {
  width: 88px;
}

.w-88prcnt {
  width: "88%";
}

.h-88px {
  height: 88px;
}

.h-88prcnt {
  height: "88%";
}

.w-90px {
  width: 90px;
}

.w-90prcnt {
  width: "90%";
}

.h-90px {
  height: 90px;
}

.h-90prcnt {
  height: "90%";
}

.w-92px {
  width: 92px;
}

.w-92prcnt {
  width: "92%";
}

.h-92px {
  height: 92px;
}

.h-92prcnt {
  height: "92%";
}

.w-94px {
  width: 94px;
}

.w-94prcnt {
  width: "94%";
}

.h-94px {
  height: 94px;
}

.h-94prcnt {
  height: "94%";
}

.w-96px {
  width: 96px;
}

.w-96prcnt {
  width: "96%";
}

.h-96px {
  height: 96px;
}

.h-96prcnt {
  height: "96%";
}

.w-98px {
  width: 98px;
}

.w-98prcnt {
  width: "98%";
}

.h-98px {
  height: 98px;
}

.h-98prcnt {
  height: "98%";
}

.w-100px {
  width: 100px;
}

.w-100prcnt {
  width: "100%";
}

.h-100px {
  height: 100px;
}

.h-100prcnt {
  height: "100%";
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-21 {
  font-size: 21px;
}

.font-22 {
  font-size: 22px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-26 {
  font-size: 26px;
}

.font-27 {
  font-size: 27px;
}

.font-28 {
  font-size: 28px;
}

.font-29 {
  font-size: 29px;
}

.font-30 {
  font-size: 30px;
}

.font-31 {
  font-size: 31px;
}

.font-32 {
  font-size: 32px;
}

.font-33 {
  font-size: 33px;
}

.font-34 {
  font-size: 34px;
}

.font-35 {
  font-size: 35px;
}

.font-36 {
  font-size: 36px;
}

.font-37 {
  font-size: 37px;
}

.font-38 {
  font-size: 38px;
}

.font-39 {
  font-size: 39px;
}

.font-40 {
  font-size: 40px;
}

.font-41 {
  font-size: 41px;
}

.font-42 {
  font-size: 42px;
}

.font-43 {
  font-size: 43px;
}

.font-44 {
  font-size: 44px;
}

.font-45 {
  font-size: 45px;
}

.font-46 {
  font-size: 46px;
}

.font-47 {
  font-size: 47px;
}

.font-48 {
  font-size: 48px;
}

.font-49 {
  font-size: 49px;
}

.font-50 {
  font-size: 50px;
}

.font-51 {
  font-size: 51px;
}

.font-52 {
  font-size: 52px;
}

.font-53 {
  font-size: 53px;
}

.font-54 {
  font-size: 54px;
}

.font-55 {
  font-size: 55px;
}

.font-56 {
  font-size: 56px;
}

.font-57 {
  font-size: 57px;
}

.font-58 {
  font-size: 58px;
}

.font-59 {
  font-size: 59px;
}

.font-60 {
  font-size: 60px;
}

.font-61 {
  font-size: 61px;
}

.font-62 {
  font-size: 62px;
}

.font-63 {
  font-size: 63px;
}

.font-64 {
  font-size: 64px;
}

.font-65 {
  font-size: 65px;
}

.font-66 {
  font-size: 66px;
}

.font-67 {
  font-size: 67px;
}

.font-68 {
  font-size: 68px;
}

.font-69 {
  font-size: 69px;
}

.font-70 {
  font-size: 70px;
}

.mw-50 {
  max-width: 50px;
}

.mw-60 {
  max-width: 60px;
}

.mw-70 {
  max-width: 70px;
}

.mw-80 {
  max-width: 80px;
}

.mw-90 {
  max-width: 90px;
}

.mw-100 {
  max-width: 100px;
}

.mw-110 {
  max-width: 110px;
}

.mw-120 {
  max-width: 120px;
}

.mw-130 {
  max-width: 130px;
}

.mw-140 {
  max-width: 140px;
}

.mw-150 {
  max-width: 150px;
}

.mw-160 {
  max-width: 160px;
}

.mw-170 {
  max-width: 170px;
}

.mw-180 {
  max-width: 180px;
}

.mw-190 {
  max-width: 190px;
}

.mw-200 {
  max-width: 200px;
}

.mw-210 {
  max-width: 210px;
}

.mw-220 {
  max-width: 220px;
}

.mw-230 {
  max-width: 230px;
}

.mw-240 {
  max-width: 240px;
}

.mw-250 {
  max-width: 250px;
}

.mw-260 {
  max-width: 260px;
}

.mw-270 {
  max-width: 270px;
}

.mw-280 {
  max-width: 280px;
}

.mw-290 {
  max-width: 290px;
}

.mw-300 {
  max-width: 300px;
}

.mw-310 {
  max-width: 310px;
}

.mw-320 {
  max-width: 320px;
}

.mw-330 {
  max-width: 330px;
}

.mw-340 {
  max-width: 340px;
}

.mw-350 {
  max-width: 350px;
}

.mw-360 {
  max-width: 360px;
}

.mw-370 {
  max-width: 370px;
}

.mw-380 {
  max-width: 380px;
}

.mw-390 {
  max-width: 390px;
}

.mw-400 {
  max-width: 400px;
}

.mw-410 {
  max-width: 410px;
}

.mw-420 {
  max-width: 420px;
}

.mw-430 {
  max-width: 430px;
}

.mw-440 {
  max-width: 440px;
}

.mw-450 {
  max-width: 450px;
}

.mw-460 {
  max-width: 460px;
}

.mw-470 {
  max-width: 470px;
}

.mw-480 {
  max-width: 480px;
}

.mw-490 {
  max-width: 490px;
}

.mw-500 {
  max-width: 500px;
}

.mw-510 {
  max-width: 510px;
}

.mw-520 {
  max-width: 520px;
}

.mw-530 {
  max-width: 530px;
}

.mw-540 {
  max-width: 540px;
}

.mw-550 {
  max-width: 550px;
}

.mw-560 {
  max-width: 560px;
}

.mw-570 {
  max-width: 570px;
}

.mw-580 {
  max-width: 580px;
}

.mw-590 {
  max-width: 590px;
}

.mw-600 {
  max-width: 600px;
}

.mw-610 {
  max-width: 610px;
}

.mw-620 {
  max-width: 620px;
}

.mw-630 {
  max-width: 630px;
}

.mw-640 {
  max-width: 640px;
}

.mw-650 {
  max-width: 650px;
}

.mw-660 {
  max-width: 660px;
}

.mw-670 {
  max-width: 670px;
}

.mw-680 {
  max-width: 680px;
}

.mw-690 {
  max-width: 690px;
}

.mw-700 {
  max-width: 700px;
}

.mw-710 {
  max-width: 710px;
}

.mw-720 {
  max-width: 720px;
}

.mw-730 {
  max-width: 730px;
}

.mw-740 {
  max-width: 740px;
}

.mw-750 {
  max-width: 750px;
}

.mw-760 {
  max-width: 760px;
}

.mw-770 {
  max-width: 770px;
}

@media screen and (max-width: 767px) {
  .mw-770 {
    max-width: 550px;
  }
}

.mw-780 {
  max-width: 780px;
}

@media screen and (max-width: 767px) {
  .mw-780 {
    max-width: 550px;
  }
}

.mw-790 {
  max-width: 790px;
}

@media screen and (max-width: 767px) {
  .mw-790 {
    max-width: 550px;
  }
}

.mw-800 {
  max-width: 800px;
}

@media screen and (max-width: 767px) {
  .mw-800 {
    max-width: 550px;
  }
}

.mw-810 {
  max-width: 810px;
}

@media screen and (max-width: 767px) {
  .mw-810 {
    max-width: 550px;
  }
}

.mw-820 {
  max-width: 820px;
}

@media screen and (max-width: 767px) {
  .mw-820 {
    max-width: 550px;
  }
}

.mw-830 {
  max-width: 830px;
}

@media screen and (max-width: 767px) {
  .mw-830 {
    max-width: 550px;
  }
}

.mw-840 {
  max-width: 840px;
}

@media screen and (max-width: 767px) {
  .mw-840 {
    max-width: 550px;
  }
}

.mw-850 {
  max-width: 850px;
}

@media screen and (max-width: 767px) {
  .mw-850 {
    max-width: 550px;
  }
}

.mw-860 {
  max-width: 860px;
}

@media screen and (max-width: 767px) {
  .mw-860 {
    max-width: 550px;
  }
}

.mw-870 {
  max-width: 870px;
}

@media screen and (max-width: 767px) {
  .mw-870 {
    max-width: 550px;
  }
}

.mw-880 {
  max-width: 880px;
}

@media screen and (max-width: 767px) {
  .mw-880 {
    max-width: 550px;
  }
}

.mw-890 {
  max-width: 890px;
}

@media screen and (max-width: 767px) {
  .mw-890 {
    max-width: 550px;
  }
}

.mw-900 {
  max-width: 900px;
}

@media screen and (max-width: 767px) {
  .mw-900 {
    max-width: 550px;
  }
}

.mw-910 {
  max-width: 910px;
}

@media screen and (max-width: 767px) {
  .mw-910 {
    max-width: 550px;
  }
}

.mw-920 {
  max-width: 920px;
}

@media screen and (max-width: 767px) {
  .mw-920 {
    max-width: 550px;
  }
}

.mw-930 {
  max-width: 930px;
}

@media screen and (max-width: 767px) {
  .mw-930 {
    max-width: 550px;
  }
}

.mw-940 {
  max-width: 940px;
}

@media screen and (max-width: 767px) {
  .mw-940 {
    max-width: 550px;
  }
}

.mw-950 {
  max-width: 950px;
}

@media screen and (max-width: 767px) {
  .mw-950 {
    max-width: 550px;
  }
}

.mw-960 {
  max-width: 960px;
}

@media screen and (max-width: 767px) {
  .mw-960 {
    max-width: 550px;
  }
}

.mw-970 {
  max-width: 970px;
}

@media screen and (max-width: 767px) {
  .mw-970 {
    max-width: 550px;
  }
}

.mw-980 {
  max-width: 980px;
}

@media screen and (max-width: 767px) {
  .mw-980 {
    max-width: 550px;
  }
}

.mw-990 {
  max-width: 990px;
}

@media screen and (max-width: 767px) {
  .mw-990 {
    max-width: 550px;
  }
}

