/* Common style starts */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary: #41644a;
    --black: rgb(6, 21, 43);
    --black100: rgb(6, 21, 43, 0.1);
    --black300: rgb(6, 21, 43, 0.3);
    --black500: rgb(6, 21, 43, 0.5);
    --black700: rgb(6, 21, 43, 0.7);
    --black900: rgb(6, 21, 43, 0.9);
    --white: #ffffff;
    --border-color: #e7e7e7;
    --focused-border-color: var(--black900);

    --primary-red: #ed2b2a;
    --primary-dark-red: #881c1c;
    --lightest-red: #ffd9d9;
    --primary-yellow: #dbd24b;
    --primary-dark-yellow: #a89e2c;
    --lightest-yellow: #fff9d9;
    --primary-purple: #4e31aa;
    --primary-dark-purple: #2a165e;
    --lightest-purple: #f2e8ff;
    --primary-green: #539165;
    --primary-dark-green: #1e3a2a;
    --lightest-green: #d9ffdf;
    --primary-blue: #1363df;
    --primary-dark-blue: #0e2444;
    --lightest-blue: #d1f8ff;
    --primary-orange: #f5a623;
    --primary-dark-orange: #a86b1c;
    --lightest-orange: #fff3d9;

    --mainheadingfont: 15px;
    --page-bg: #f5ebeb;
    --page-bg-lightest-red: var(--lightest-red);
    --page-bg-lightest-green: var(--lightest-green);
    --page-bg-lightest-blue: var(--lightest-blue);
    --page-bg-lightest-yellow: var(--lightest-yellow);
    --page-bg-lightest-purple: var(--lightest-purple);
}

/* status color keys  /
/ contract  /
/* in-review : #d8d800
published: #00dada
applied : #ff22fb
booked : #00ff00
terminated : var(--primaryred)as terminated
worked: #0c3dff /
/ contract  /

/ timesheet /
/* asigned : #00dada
pending: #d8d800  as processed
sbmitted: #ff9539  as processed
rejected: var(--primaryred)
terminated: #ff22fb as ts-terminated
authorised: #0c3dff
invoiced:#00ff00 /
/ timesheet /

/ invoice  /
/* processing : #0c3dff
paid: #00ff00
overdue : var(--primaryred)/
/ invoice  /
/ status color keys  */


/* white  */
.text-white {
    color: var(--white) !important;
}
.bg-white {
    background: var(--white);
}
/* white  */

/* black  */
.text-black {
    color: var(--black) !important;
}
.bg-black {
    background: var(--black);
}
/* black  */

/* black shades  */
.text-black100 {
    color: var(--black100) !important;
}
.bg-black100 {
    background: var(--black100);
}
.text-black300 {
    color: var(--black300) !important;
}
.bg-black300 {
    background: var(--black300);
}
.text-black500 {
    color: var(--black500) !important;
}
.bg-black500 {
    background: var(--black500);
}
.text-black700 {
    color: var(--black700) !important;
}
.bg-black700 {
    background: var(--black700);
}
.text-black900 {
    color: var(--black900) !important;
}
.bg-black900 {
    background: var(--black900);
}
/* black shades  */
html,
body {
    margin: 0px;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
table {
    width: 100%;
}
a {
    text-decoration: none !important;
    color: var(--black);
}
a:focus,
button:focus {
    outline: none !important;
}
button {
    outline: none !important;
    border: none;
    background: none;
}
input:focus,
input {
    box-shadow: none !important;
}
input,
textarea,
select.form-control {
    color: var(--black);
}
select {
    outline: none !important;
}
button {
    transition: all 0.3s ease !important;
    box-shadow: none !important;
}
label {
    margin: 0;
}
ul {
    padding: 0px;
    margin: 0px;
}
li {
    list-style: none;
}
*::-webkit-scrollbar {
    display: none;
}

/* custom globally useful classes */
.hide {
    display: none !important;
}
.disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cursor-pointer{
    cursor: pointer !important;
}
/* custom globally useful classes */
/* session message  */
.session_message_wrapper {
    background: #fff;
    color: #0b2447;
    padding: 10px 20px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 300px;
    z-index: 9999;
    box-shadow: 0 2px 5px #dedede;
    border-left: 5px solid transparent;
}
.session_message_wrapper._hide {
    animation: slideOut 1s ease forwards;
}
@keyframes slideOut {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50px);
    }
}
.session_message_wrapper.message_success {
    border-color: var(--primary-green);
}
.session_message_wrapper.message_error {
    border-color: var(--primary-red);
}
.session_message_wrapper .session_message {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    word-wrap: break-word;
}
/* session message  */

/* main */
body > main {
    display: flex;
    padding-top: 60px;
    min-height: 100vh;
}
body > main .left_main {
    min-height: calc(100% - 60px);
}
body > main .right_main {
    flex-grow: 1;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}
body > main .right_main .box {
    padding: 16px;
}
#ShowJob {
    padding: 16px;
    text-align: center;
}
/* main */

/* bootstrap dropdown override */
.dropdown-menu {
    padding: 8px !important;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 18%);
    border: none !important;
}
.dropdown-menu .dropdown-item {
    color: var(--black);
    height: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 2px;
}
.dropdown-menu .dropdown-item:last-child {
    margin-bottom: 0px;
}
.dropdown-item.active,
.dropdown-item:hover {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 18%);
    background: var(--lighest-blue);
}
/* bootstrap dropdown override */

.profile-pic-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    object-fit: cover;
}

.profile-pic-div:hover #uploadBtn {
    transform: translateY(0);
}

.profile-pic-div .img-profile{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.rounded-circle{
    border-radius: 50% !important;
}

#uploadBtn{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
    margin: 0;
    transition: all 0.2s ease;
    transform: translateY(140%);
}

#avatar_img{
    display: none;
}