/* nunito-300 - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 300;
    src: url("./font-face/nunito-300.woff2") format("woff2");
}
/* nunito-regular - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("./font-face/nunito-regular.woff2") format("woff2");
}
/* nunito-500 - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    src: url("./font-face/nunito-500.woff2") format("woff2");
}
/* nunito-600 - latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    src: url("./font-face/nunito-600.woff2") format("woff2");
}
